{% load staticfiles %}

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="{% static 'ut-brand.png' %}">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

{% block navbar-left %}
<!-- Example left navbar
      <ul class="nav navbar-nav">
        <li><a href="#">FIS System Home</a></li>
        <li class="active"><a href="#">FB Date System <span class="sr-only">(current)</span></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Actions to take <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Pew</a></li>
            <li><a href="#">Pew Pew</a></li>
            <li><a href="#">Pew Pew Pew</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Randomize Pews</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Recharge</a></li>
          </ul>
        </li>
      </ul>
-->

      <ul class="nav navbar-nav"> <!-- TODO: This can be removed if there is no FIS system home page. -->
        <li><a href="#">FIS System Home</a></li>
      </ul>
{% endblock navbar-left %}

{% block navbar-search %}
<!-- Example right navbar search
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search subsystem">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
-->
{% endblock navbar-search %}

{% block navbar-right %}
<!-- Example right navbar
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Useful Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Useful Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
-->
{% endblock navbar-right %}

    </div>
  </div>
</nav>