<div class="container-fluid col-lg-12">
  <div class="page-header">
    <h1>Fee Billing Date System</h1>
    <ol class="breadcrumb">
      <li><a href="#">2015 - 2016</a></li>
      <li><a href="#">Summer</a></li>
      <li class="active">Dell Medical School</li>
    </ol>

    <div class="table-container container-fluid">
      <div class="container-fluid">
        <form>
          <div class="col-lg-3 float-left">
            {% include 'core/_table_labels.html' %}
            <div class="clear-both-float-left">
              <span class="half-width">Some class day</span>
              <span class="half-width">
                <label for="date1" class="hidden">Enter date:</label>
                <input type="date" name="date1" value="06/01/2016" size="10" class="datepicker" />
              </span>
            </div>
            <div class="clear-both-float-left">
              <span class="half-width">Another class day</span>
              <span class="half-width">
                <label for="date1" class="hidden">Enter date:</label>
                <input type="date" name="date1" value="06/01/2016" size="10" class="datepicker" />
              </span>
            </div>
            <div class="clear-both-float-left">
              <span class="half-width">My class day</span>
              <span class="half-width">
                <label for="date1" class="hidden">Enter date:</label>
                <input type="date" name="date1" value="06/01/2016" size="10" class="datepicker" />
              </span>
            </div>
            <div class="clear-both-float-left">
              <span class="half-width">Every class day</span>
              <span class="half-width">
                <label for="date1" class="hidden">Enter date:</label>
                <input type="date" name="date1" value="06/01/2016" size="10" class="datepicker" />
              </span>
            </div>
          </div>
          <div class="col-lg-3 float-left">
            {% include 'core/_table_labels.html' %}
            <div class="clear-both-float-left">
              <span class="half-width">Some class day</span>
              <span class="half-width">
                <label for="date1" class="hidden">Enter date:</label>
                <input type="date" name="date1" value="06/01/2016" size="10" class="datepicker" />
              </span>
            </div>
            <div class="clear-both-float-left">
              <span class="half-width">Another class day</span>
              <span class="half-width">
                <label for="date1" class="hidden">Enter date:</label>
                <input type="date" name="date1" value="06/01/2016" size="10" class="datepicker" />
              </span>
            </div>
            <div class="clear-both-float-left">
              <span class="half-width">My class day</span>
              <span class="half-width">
                <label for="date1" class="hidden">Enter date:</label>
                <input type="date" name="date1" value="06/01/2016" size="10" class="datepicker" />
              </span>
            </div>
            <div class="clear-both-float-left">
              <span class="half-width">Every class day</span>
              <span class="half-width">
                <label for="date1" class="hidden">Enter date:</label>
                <input type="date" name="date1" value="06/01/2016" size="10" class="datepicker" />
              </span>
            </div>
          </div>
          <div class="col-lg-3 float-left">
            {% include 'core/_table_labels.html' %}
            <div class="clear-both-float-left">
              <span class="half-width">Some class day</span>
              <span class="half-width">
                <label for="date1" class="hidden">Enter date:</label>
                <input type="date" name="date1" value="06/01/2016" size="10" class="datepicker" />
              </span>
            </div>
            <div class="clear-both-float-left">
              <span class="half-width">Another class day</span>
              <span class="half-width">
                <label for="date1" class="hidden">Enter date:</label>
                <input type="date" name="date1" value="06/01/2016" size="10" class="datepicker" />
              </span>
            </div>
            <div class="clear-both-float-left">
              <span class="half-width">My class day</span>
              <span class="half-width">
                <label for="date1" class="hidden">Enter date:</label>
                <input type="date" name="date1" value="06/01/2016" size="10" class="datepicker" />
              </span>
            </div>
            <div class="clear-both-float-left">
              <span class="half-width">Every class day</span>
              <span class="half-width">
                <label for="date1" class="hidden">Enter date:</label>
                <input type="date" name="date1" value="06/01/2016" size="10" class="datepicker" />
              </span>
            </div>
          </div>
          <div class="col-lg-3 float-left">
            {% include 'core/_table_labels.html' %}
            <div class="clear-both-float-left">
              <span class="half-width">Some class day</span>
              <span class="half-width">
                <label for="date1" class="hidden">Enter date:</label>
                <input type="date" name="date1" value="06/01/2016" size="10" class="datepicker" />
              </span>
            </div>
            <div class="clear-both-float-left">
              <span class="half-width">Another class day</span>
              <span class="half-width">
                <label for="date1" class="hidden">Enter date:</label>
                <input type="date" name="date1" value="06/01/2016" size="10" class="datepicker" />
              </span>
            </div>
            <div class="clear-both-float-left">
              <span class="half-width">My class day</span>
              <span class="half-width">
                <label for="date1" class="hidden">Enter date:</label>
                <input type="date" name="date1" value="06/01/2016" size="10" class="datepicker" />
              </span>
            </div>
            <div class="clear-both-float-left">
              <span class="half-width">Every class day</span>
              <span class="half-width">
                <label for="date1" class="hidden">Enter date:</label>
                <input type="date" name="date1" value="06/01/2016" size="10" class="datepicker" />
              </span>
            </div>
          </div>
          <div class="col-lg-offset-10 button-container">
            <button type="submit" class="btn btn-primary">Submit changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>