{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <title>FIS Bootstrap Prototype</title>
    <link rel="stylesheet" href="{% static 'jquery-ui/jquery-ui.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-custom.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="{% static 'jquery-ui/jquery-ui.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap.js' %}" ></script>
    <script type="text/javascript" src="{% static 'main.js' %}" ></script>
  </head>

  <body>
    <div class="container page-wrapper">
      {% include 'core/_base_navbar.html' %}
      {% include 'core/_table.html' %}
    </div>
    {% include 'core/_footer.html' %}
  </body>

</html>